@model System.Char[]

<h2>Game Over</h2>
<div id="gameover">

    <span>
        The country is:
    </span>

    @{
        if (Model != null)
        {
            for (int i = 0; i < Model.Length; i++)
            {
                <strong class="lead">@Model[i]</strong>
            }
        }
    }
</div>

<div id="gameover">
    @Html.ActionLink("Start new game", "StartGame")
</div>

<script>
    $("#form-wrapper").hide();
    drawMouth();
</script>