@model System.Char[]

<h2>Game Over</h2>
<div class="well" id="gameover">

    <span>
        The country is:
    </span>

    @{
        if (Model != null)
        {
            for (int i = 0; i < Model.Length; i++)
            {
                <strong>@Model[i]</strong>
            }
        }
    }
</div>

<div class="alert alert-dismissable" id="gameover">
    @Html.ActionLink("Play again", "StartGame", "Game", null, new { @class = "btn btn-success" })
</div>

<script>
    $("#form-wrapper").hide();
    drawHangman.drawMouth();
</script>