@model System.Char[]

<div class="panel panel-default">
    <div class="panel-heading h4">The Hangman</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div id="secretWord">
                    @Html.Partial("_SecretWord", Model)
                </div>
                <div id="form-wrapper" class="col-md-6">
                    @using (Ajax.BeginForm("GuessTheLetter", null, new AjaxOptions
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "secretWord"
                    }, new { id = "form" }))
                    {
                        <div class="input-group">
                            <input type="text" name="letter" class="form-control" />
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-primary" value="Check" />
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <canvas id="canvasElement" width="500" height="500"></canvas>
            </div>
            <div class="col-md-2">
                @Html.Action("DisplayTopPlayers")
            </div>
        </div>
    </div>
</div>
